<div class="flex flex-wrap my-4 lg:px-4">
  <div class="w-full mb-4 lg:w-1/4 lg:p-4">
    <%= render partial: "shared/account_navbar" %>
  </div>
  <div class="w-full lg:w-3/4 lg:p-4">
    <div class="mb-5">
      <%= render partial: "shared/topBar_nav" %>
    </div>
    <div class="p-4 bg-white border border-gray-200 rounded-lg lg:p-10">
      <div class="sm:flex items-center justify-between mb-3">
        <h1 class="flex-1 h3">Teams</h1>
        <div>
          <%= link_to("New Team", new_team_path, class: 'btn btn-primary') %>
        </div>
      </div>
      <div class="overflow-x-auto">
        <table class="border border-collapse mt-5">
          <thead>
            <tr>
              <th class="w-1/2">Team Name</th>
              <th class="w-1/2">Organization Name</th>
              <% if current_account_admin? %>
                <th class="w-1/2 text-right">Actions</th>
              <% end %>
            </tr>
          <thead>
          <tbody>
            <% if @teams.present? %>
              <% @teams.each do |team| %>
                <tr>
                  <td><%= team.name %></td>
                  <td><%= @account.name %></td>
                  <% if current_account_admin? %>
                    <td>
                      <div class="flex items-center gap-2">
                        <%= link_to(team_path(team), class: "btn btn-primary") do %>
                          <i class="fa-solid fa-eye"></i>
                        <% end %>
                        <%= link_to(edit_team_path(team), class: "btn btn-primary") do %>
                          <i class="fa-solid fa-pencil"></i>
                        <% end %>
                        <%= link_to(team_path(team), class: "btn btn-danger", method: :delete,
                        data: { confirm: "This will delete the team from the organization. Are you sure?" }) do %>
                          <i class="fa-solid fa-trash"></i>
                        <% end %>

                      </div>
                    </td>
                  <% end %>
                </tr>
              <% end %>
            <% else %>
              <tr>
                <td colspan="3" class="text-center">No Teams found</td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <% if @pagy.pages > 1 %>
        <div class="my-6 text-center">
          <%== pagy_nav(@pagy) %>
        </div>
      <% end %>
    </div>
  </div>
</div>

