<% if current_user.admin? %>
  <div class="container mx-auto p-4">
    <div class="my-8">
      <h1><%= t(".title") %></h1>

      <p class="mb-2">This is the homepage for logged in users.</p>
      <p>You can customize this page in <code>app/views/dashboard/show.html.erb</code></p>
    </div>
  </div>
<% else %>
  <% content_for :title, "Dashboard" %>

  <header class="main-content__header flex justify-between items-center mb-4 px-4 shadow-md py-4" role="banner">
    <h3 class="main-content__page-title">
      Dashboard
    </h3>
  </header>

  <section class="container p-4 mx-auto">
    <% if current_roles.include?(:admin) %>
      <div class="flex">
        <% @builders.each do |builder| %>
          <div class="flex-1 shadow rounded p-4 m-4 text-center">
            <h4 class="font-normal mb-2"><%= builder.title %></h4>
            <p class="text-3xl font-bold"><%= current_account.stories.where(story_builder_id: builder.id).count %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </section>
  <div class="container mx-auto px-4">
    <%#= @account_users.count %>
    <div class="overflow-x-auto">
      <table class="border mt-5">
        <thead>
          <tr>
            <th class="w-1/5">First Name</th>
            <th class="w-1/5">Last Name</th>
            <th class="w-1/5">Email</th>
            <th class="w-1/5">Team</th>
            <th class="w-1/5">Status</th>
          </tr>
        </thead>
        <tbody>
        <% if @account_users.present? %>
            <% @account_users.each do |account_user| %>
              <tr>
                <td><%= account_user.user.first_name %></td>
                <td><%= account_user.user.last_name %></td>
                <td><%= account_user.user.email %></td>
                <td>
                  <%= account_user.user.team.present? ? account_user.user.team.name : "---" %>
                </td>
                <td>
                  <span class="inline-flex items-center justify-center rounded-full bg-green-500 text-white p-2">
                    Active
                  </span>
                </td>
              </tr>
            <% end %>
          <% else %>
          <tr>
            <td colspan="4" class="text-center">No Users found. Only users that accepted invitation will appear here!</td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <% if @pagy.pages > 1 %>
        <div class="my-6 text-center">
          <%== pagy_nav(@pagy) %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

