<div class="py-8 bg-primary">
  <h1 class="text-center text-white fs-40 fw-medium">Featured Blogs</h1>
</div>

<div class="bg-white sm:py-28 lg:py-10">
  <div class="mx-auto grid max-w-7xl grid-cols-1 gap-x-8 gap-y-12 px-2 sm:gap-y-16 lg:grid-cols-3 lg:px-8">
    <div class="col-span-1 lg:col-span-2">
      <% @featured_blogs.each do |blog| %>
        <article class="mx-auto w-full max-w-2xl lg:mx-0">
          <time datetime="<%= blog.created_at.strftime('%Y-%m-%d') %>" class="block text-sm leading-6 text-gray-600">
            <%= blog.created_at.strftime('%b %d, %Y') %>
          </time>
          <h2 id="featured-post" class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl mb-4">
            <%= blog.title %>
          </h2>
          <span class="text-lg leading-8 text-gray-600">
            <%= truncate(strip_tags(blog.body.to_s).html_safe, length: 350) %>
          </span>
          <div class="mt-4 flex flex-col justify-between gap-2 sm:mt-8 sm:flex-row-reverse sm:gap-6 lg:mt-4 lg:flex-col">
            <div class="flex">
              <%= link_to account_blog_path(current_account.id, blog.id), class: 'text-sm font-semibold leading-6 text-indigo-600' do %>
                Continue reading <span aria-hidden="true">&rarr;</span>
              <% end %>
            </div>
            <div class="flex">
              <% for tag in blog.tag_list.first(4) do %>
                <div class="relative z-10 rounded-full bg-gray-200 px-3 py-1.5 font-medium text-gray-600 mx-1"><%= tag %></div>
              <% end %>
            </div>
          </div>
        </article>
      <% end %>
    </div>
    <div class="mx-auto w-full max-w-2xl border-t border-gray-900/10 pt-12 lg:pt-0 lg:mx-0 lg:max-w-none lg:border-t-0 lg:pt-0 col-span-1">
      <div class="divide-y divide-gray-900/10">
        <%= link_to "All Blogs", account_all_blogs_path, class: "text-indigo-600" %>
        <% @recent_blogs.each do |blog| %>
          <article class="py-6">
            <div class="group relative max-w-xl">
              <time datetime="<%= blog.created_at.strftime('%Y-%m-%d') %>" class="block text-sm leading-6 text-gray-600">
                <%= blog.created_at.strftime('%b %d, %Y') %>
              </time>
              <h2 class="mt-2 text-lg font-semibold text-gray-900 group-hover:text-gray-600">
                <a href="#">
                  <span class="absolute inset-0"></span>
                  <%= blog.title %>
                </a>
              </h2>
              <p class="mt-4 text-sm leading-6 text-gray-600">
                <%= truncate(strip_tags(blog.body.to_s).html_safe, length: 150) %>
              </p>
            </div>
            <div class="mt-4 flex">
              <% for tag in blog.tag_list.first(4) do %>
                <div class="relative z-10 rounded-full bg-gray-200 px-3 py-1.5 font-medium text-gray-600 mx-1"><%= tag %></div>
              <% end %>
            </div>
          </article>
        <% end %>
      </div>
    </div>
  </div>
</div>