<div class="py-8 bg-primary">
  <h1 class="text-center text-white fs-40 fw-medium">Blogs</h1>
</div>

<div class="xl:container mx-auto pt-12 px-4">
  <h3 class="mb-4">Shared Blogs</h3>
  <div class="mb-12">
    <table class="new-design-table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Tags</th>
        </tr>
      </thead>
      <tbody>
        <% if @blogs.present? %>
          <% @blogs.each do |blog| %>
            <tr>
              <td class="w-1/3">
                <div class="fs-20"><%= blog.title %></div>
              </td>
              <td class="w-1/2">
                <% if blog.tag_list.present? %>
                  <div class="flex items-center flex-wrap gap-2">
                    <% for tag in blog.tag_list.first(4) do %>
                      <div class="text-sm border px-2 py-1 rounded bg-F5F5F5"><%= tag %></div>
                    <% end %>
                    <%= blog.tag_list.length > 4 ? '...' : '' %>
                  </div>
                <% else %>
                  <div>No tags present.</div>
                <% end %>
              </td>
              <td class="w-1/3 text-center !p-0">
                <div class="flex w-full items-center gap-2 justify-center" >
                  <%= link_to(account_blog_path(blog, account_id: current_account.id), class: "font-bold fs-15 py-8 px-5") do %>
                    SHOW BLOG
                  <% end %>
                </div>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="6" class="text-center">No Blogs found</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <% if @pagy.pages > 1 %>
  <div class="mt-6 text-right">
    <%== pagy_nav(@pagy) %>
  </div>
  <% end %>
</div>

<div class="xl:container mx-auto pt-12 px-4">
  <h3 class="mb-4">Public Blogs</h3>
  <div class="mb-12">
    <table class="new-design-table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Tags</th>
        </tr>
      </thead>
      <tbody>
        <% if @public_blogs.present? %>
          <% @public_blogs.each do |blog| %>
            <tr>
              <td class="w-1/3">
                <div class="fs-20"><%= blog.title %></div>
              </td>
              <td class="w-1/2">
                <% if blog.tag_list.present? %>
                  <div class="flex items-center flex-wrap gap-2">
                    <% for tag in blog.tag_list.first(4) do %>
                      <div class="text-sm border px-2 py-1 rounded bg-F5F5F5"><%= tag %></div>
                    <% end %>
                    <%= blog.tag_list.length > 4 ? '...' : '' %>
                  </div>
                <% else %>
                  <div>No tags present.</div>
                <% end %>
              </td>
              <td class="w-1/3 text-center !p-0">
                <div class="flex w-full items-center gap-2 justify-center" >
                  <%= link_to(account_blog_path(blog, account_id: current_account.id), class: "font-bold fs-15 py-8 px-5") do %>
                    SHOW BLOG
                  <% end %>
                </div>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="6" class="text-center">No Blogs found</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <% if @pagy_1.pages > 1 %>
  <div class="mt-6 text-right">
    <%== pagy_nav(@pagy_1) %>
  </div>
  <% end %>
</div>