
<aside class="fixed flex flex-col h-full bg-white border-r-2 w-64 transition-all duration-75 ease-in top-65 shadow-2xl lg:shadow-none z-10" id="sidebar" data-sidebar-target="sidebar">
  <nav class="mt-5">
    <a href="<%=admin_root_path %>" class="flex items-center py-3 pl-6 hover:bg-gray-100 <%= 'bg-gray-100' if current_page?(admin_root_path) %>">
      <span><i class="fa-solid fa-gauge mr-1"></i> Dashboard</span>
    </a>
    <a href="<%= admin_accounts_path %>" class="flex items-center py-3 pl-6 hover:bg-gray-100 <%= 'bg-gray-100' if current_page?(admin_accounts_path) %>">
      <span><i class="fa-solid fa-building w-4 mr-1"></i> Organizations</span>
    </a>
    <a href="<%= admin_story_builders_path %>" class="flex items-center py-3 pl-6 hover:bg-gray-100 <%= 'bg-gray-100' if current_page?(admin_story_builders_path) %>">
      <span><i class="fa-solid fa-file-circle-question w-4 mr-1"></i> Builders</span>
    </a>
    <a href="<%= admin_questions_path %>" class="flex items-center py-3 pl-6 hover:bg-gray-100 <%= 'bg-gray-100' if current_page?(admin_questions_path) %>">
      <span><i class="fa-solid fa-clipboard-question w-4 mr-1"></i> Questions</span>
    </a>
    <a href="<%= admin_blogs_path %>" class="flex items-center py-3 pl-6 hover:bg-gray-100 <%= 'bg-gray-100' if current_page?(admin_blogs_path) %>">
      <span><i class="fa-solid fa-book w-4 mr-1"></i> Blogs</span>
    </a>
  </nav>
</aside>




<%#
# Navigation

This partial is used to display the navigation in Administrate.
By default, the navigation contains navigation links
for all resources in the admin dashboard,
as defined by the routes in the `admin/` namespace
%>
<!--
<nav class="navigation" role="navigation">
  <hr />
  -->
  <!-- Temporarily commented out default administrate actions -->
  <!-- We'll be getting it back as project progresses -->
  
  <%#= link_to "â† Back to App", root_path, class: "navigation__link" %>
  <%#= link_to "Jumpstart", jumpstart_path, class: "navigation__link" if Rails.env.development? %>
  <%#= link_to "Sidekiq", admin_sidekiq_web_path, class: "navigation__link", target: :_blank if defined?(::Sidekiq) %>

  <!-- Super Admin actions specific to FTE --->
  <%#= link_to "Dashboard", admin_root_path, class: "navigation__link" %>
  <%#= link_to "Organizations", admin_accounts_path, class: "navigation__link" %>

  <!-- Temporarily commented out default administrate actions -->
  <!-- We'll be getting it back as project progresses -->

  <%# Administrate::Namespace.new(namespace).resources.each do |resource| %>
    <%#= link_to(
      display_resource_name(resource),
      resource_index_route(resource),
      class: "navigation__link navigation__link--#{nav_link_state(resource)}"
    ) if accessible_action?(resource, :index) %>
  <%# end %>
<!--</nav>-->
