<header class="main-content__header flex place-content-between justify-between items-center mb-4 px-4 shadow-md py-4">
  <h4 class="main-content__page-title">
    Show Question
  </h4>
  <div class="ml-2">
    <%= link_to("Edit Question", edit_admin_question_path(@question), class: 'btn btn-primary') %>
  </div>
</header>

<div class="px-4">
  <h5>Title</h5>
  <div class="text-lg mb-4"><%= @question.title %></div>

  <div class="border p-2 mb-4">
    <h5 class="mb-2">Builder</h5>
    <% if @question.story_builder.present? %>
      <div class="flex items-center justify-between gap-3">
        <div><%= @question.story_builder.title %></div>
        <a class="btn btn-primary btn-small" href="/admin/story_builders/<%= @question.story_builder&.id %>">Go to Builder</a>
      </div>
    <% else %>
      <div>This question is not present in any story builder.</div>
    <% end %>
  </div>

  <div class="border p-2 mb-4">
    <h5 class="mb-2">Custom AI Prompt</h5>
    <% if @question.ai_prompt_attached %>
      <div><%= @question.ai_prompt %></div>
    <% else %>
      <div>No AI prompt is present in this question.</div>
    <% end %>
  </div>

  <div class="border p-2 mb-4">
    <h5 class="mb-2">Prompts</h5>
    <% if @question.prompts.present? %>
      <ul>
        <% @question.prompts.each do |prompt| %>
          <li class="mb-2"><%= prompt.full_sentence_form %></li>
        <% end %>
      </ul>
    <% else %>
      <div>No prompts present.</div>
    <% end %>
  </div>

  <h5 class="mt-5 mb-2">Nodes</h5>
  <% if @question.parent_nodes.present? %>
    <% @question.parent_nodes.each do |parent_node| %>
      <div class="border p-2 mb-3">
        <h6 class="mb-1">Title</h6>
        <div><%= parent_node.title %></div>
          <% if parent_node.child_nodes.present? %>
          <h6 class="mt-3 mb-2">Subnodes</h6>
          <% if parent_node.child_nodes.present? %>
            <ul>
              <% parent_node.child_nodes.each do |child_node| %>
                <li class="mb-2"><%= child_node.title %></li>
              <% end %>
            </ul>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <div>No nodes present.</div>
  <% end %>
</div>
