<div id="answerProvider" class="w-full" data-aicontent-mode="<% ai_content_mode %>" data-prompt-mode="<%= prompt_mode %>" data-only-node-mode="<%= only_node_mode %>" data-questionnaires-target="answerProvider">
  <%= multiple_selection_mode %>
  <% if renderer == "wrap_prompts_container" %>
    <%= render(partial: "prompt_navigation", locals: { prompts: prompts, prompt: prompt }) %>
    <div class="min-h-400 flex-col" id="questionContent" data-questionnaires-target="questionContent">
      <%= render(partial: "wrap_options_in_prompts_container", locals: { prompt: prompt, prompt_pretext: prompt_pretext, prompt_posttext: prompt_posttext, nodes: nodes, answer: answer, selectors: selectors, multiple_selection_mode: multiple_selection_mode }) %>
      <%= render_error_container %>
    </div>
  <% elsif renderer == "nodes_prompts_container" %>
    <%= render_prompt_heading(text_content: "Select an option") %>

    <div class="min-h-400 flex-col" id="questionContent" data-questionnaires-target="questionContent">
      <%= render(partial: "select_options", locals: { prompt: prompt, nodes: nodes, answer: answer, selectors: selectors, multiple_selection_mode: multiple_selection_mode }) %>
      <%= render_error_container %>
    </div>
  <% elsif renderer == "without_nodes_prompts_container" %>
    <%= render_prompt_heading(text_content: "Answer") %>

    <div class="min-h-400 flex-col" id="questionContent" data-questionnaires-target="questionContent">
      <%= text_area_tag(:answer, answer, class: "form-control lg:w-2/3 xl:w-1/2", placeholder: "Provide your answer here..", rows: 5, data: { questionnaires_target: "answer" }) %>
      <%= render_error_container %>
    </div>
  <% end %>
  
  <%= render_ai_content_div if ai_content_mode %>
</div>
