<div class="mb-5 flex justify-between items-center">
  <h5>
    Questions 
    <span class="font-normal">
      <span id="questionNumber">1</span>
      /
      <span id="questionsCount"><%= @questions.count %></span>
    </span>
  </h5>
  <label for="access" class="flex items-center cursor-pointer mb-0" data-controller="tooltip" data-tippy-content="Mark story as Private/Public">
    <div class="relative">
      <% if @story.private_access %>
        <input id="access" type="checkbox" class="sr-only"
          data-id="<%= @story.id %>"
          checked
          data-account-id="<%= current_account.id %>"
          data-change-access-mode="on"
          data-draft-mode="off"
          data-action="change->stories#updateStoryAccessOrDraftMode">
      <% else %>
        <input id="access" type="checkbox" class="sr-only"
          data-id="<%= @story.id %>"
          data-account-id="<%= current_account.id %>"
          data-change-access-mode="on"
          data-draft-mode="off"
          data-action="change->stories#updateStoryAccessOrDraftMode">
      <% end %>
      <div class="w-10 h-4 line bg-gray-300 rounded-full shadow-inner"></div>
      <div class="dot absolute w-6 h-6 bg-white rounded-full shadow -left-1 -top-1 transition"></div>
    </div>
    <div class="ml-3 text-gray-700 font-medium" id="privateAccess<%= @story.id %>"><%= @story.private_access === true ? 'Private' : 'Public' %></div>
  </label>
</div>
<div class="flex justify-between items-center gap-2">
  <%= link_to("Prev Question", "javascript:void(0)", id:'questionBackward', class: "btn btn-primary pointer-events-none opacity-50", data: { action: "stories#questionNavigation", cursor: "backward", story_builder_id: @story.story_builder.id }) %>
  <%= link_to("#{@questions.count === 1 ? 'Finish' : 'Next Question'}", "javascript:void(0)", id:'questionForward', class: "btn btn-primary", data: { action: "stories#questionNavigation", cursor: "forward", story_builder_id: @story.story_builder.id }) %>
</div>
<h5 id="questionContainer" class="mt-4" data-id=<%= @question.id %>>
  <%= @question.title %>
</h5>