<label for="<%= node.id %>" class="mb-2 flex gap-1">
  <input data-checkbox-target="checkbox" id="<%= node.id %>" type="checkbox" class="mr-1 mt-[2px]" <%= node.title == answer ? 'checked' : '' %>>
  <%= node.title %><%= node.title %><%= node.title %><%= node.title %><%= node.title %>
</label>