<div class="py-9 bg-primary">
	<h1 class="text-center text-white fs-40 fw-medium">Story Builders</h1>
</div>
<!--
<header class="main-content__header flex justify-between items-center px-4 shadow-md py-4" role="banner">
  <div>
    <h3 class="main-content__page-title">
      Welcome to <%= @story.story_builder.title %> Builder
    </h3>
    <h4 id="storyDetails" data-story-id="<%= @story.id %>">Story: <span class="font-normal"><%= @story.title %></span></h4>
  </div>
</header>
--->
<div class="xl:container mx-auto px-4">
<div class="pb-4 pt-0 lg:px-4" data-controller="stories">
  <div class="grid lg:grid-cols-3 grid-cols-1 large-gap mb-8">
    <div class="col-span-2">
			<div class="mb-5" id="storyDetails" data-story-id="<%= @story.id %>"></div>
      <!--  Questions Start -->
      <%= render("questions") %>
      <!--  Questions End -->

      <!-- Prompts section start -->
      <%= render("prompts") %>
      <!-- Prompts section end -->

      <%= render("story_builders") %>
    </div>
    <!-- col -->
    <div class="mt-5 lg:mt-0">
      <%= render("my_stories") %>
    </div>
  </div>
</div>  
</div>
