<header class="main-content__header flex justify-between items-center mb-4 px-4 shadow-md py-4" role="banner">
  <div>
    <h3 class="main-content__page-title">
      Welcome to <%= @story.story_builder.title %> Builder
    </h3>
    <h4>Story: <span class="font-normal"><%= @story.title %></span></h4>
  </div>
</header>
<div class="py-4 lg:px-4" data-controller="stories">
  <div class="grid grid-cols-3 gap-4">
    <div class="col-span-2 p-4 border border-gray-200 rounded-lg">
      <% if @questions.any? %>
        <h5 class="mb-4" data-id=<%= @question.id %>>
          Questions 
          <span class="font-normal">
            <span id="questionNumber">1</span>
            /
            <span id="questionsCount"><%= @questions.count %></span>
          </span>
        </h5>
        <div class="flex justify-between items-center gap-2">
          <%= link_to("Prev Question", "javascript:void(0)", id:'questionBackward', class: "btn btn-primary pointer-events-none opacity-50", data: { action: "stories#questionNavigation", cursor: "backward", story_builder_id: @story.story_builder.id }) %>
          <%= link_to("Next Question", "javascript:void(0)", id:'questionForward', class: "btn btn-primary", data: { action: "stories#questionNavigation", cursor: "forward", story_builder_id: @story.story_builder.id }) %>
        </div>
        <h5 id="questionContainer" class="mt-4" data-id=<%= @question.id %>>
          <%= @question.title %>
        </h5>
        <div class="p-3 border border-gray-200 rounded-sm mt-4">
          <div class="flex items-center justify-between gap-2">
            <h5>Prompts</h5>
            <div class="flex items-center gap-2">
              <%= link_to "javascript:void(0)", data: { action: "stories#promptNavigation", cursor: "backward" } do %>
                <i class="fa-solid fa-circle-arrow-left fa-2x"></i>
              <% end %>
              <%= link_to "javascript:void(0)", data: { action: "stories#promptNavigation", cursor: "forward" } do %>
                <i class="fa-solid fa-circle-arrow-right fa-2x"></i>
              <% end %>
            </div>
          </div>
        </div>
      <% else %>
        <h5>No Questions present.</h5>
      <% end %>
    </div>
  </div>
</div>