<h1>Stories#edit</h1>

Title: <%= @story.title %>

<div data-controller="stories">
  <%= link_to("Private", "javascript:void(0)", data: { 
    id: @story.id, 
    account_id: current_account.id, 
    change_access_mode: "on",
    draft_mode: "off",
    action: "stories#updateStoryAccessOrDraftMode" }) %>


  <%= link_to("Save as Draft", "javascript:void(0)", data: { 
    id: @story.id, 
    account_id: current_account.id,
    change_access_mode: "off",
    draft_mode: "on", 
    action: "stories#updateStoryAccessOrDraftMode" }, 
      class: "btn btn-primary") %>

  <h2>Question/Answer</h2>


  <div id="questionContainer" data-id=<%= @question.id %>>
    <%= link_to("Prev Question", "#", class: "btn btn-primary") %>
    <%= link_to("Next Question", "#", class: "btn btn-primary") %>
    
    <%= @question.title %>
  </div>

  <% if @prompts.any? %>
    <%= link_to("<-", "javascript:void(0)", class: "btn btn-primary", data: { action: "stories#promptNavigation", cursor: "backward" }) %>
    <%= link_to("->", "javascript:void(0)", class: "btn btn-primary", data: { action: "stories#promptNavigation", cursor: "forward" }) %>
    
    <div>Prompts: <span id="promptNumber">1</span>/<%= @prompts.count %></div>

    <!-- Display one prompt at a time -->
    <div id="promptContainer" data-id="<%= @prompt.id %>">
      <%= @prompt.full_sentence_form %>
    </div>
    
  <% else %>
    <!-- Display text field to record answer against the question -->
  <% end %>
</div>

<h2>My Stories</h2>
<% @my_stories.each do |story| %>
  <%= story.title %>
  <p>Final highlights will come here..</p>
<% end %>

<h2>Already know what kind of story you want to build?</h2>
<h3>Select the builder you'd like to use below</h3>
<!-- TODO: Pick the design from original Figma file and hard code the widgets -->