<div class="py-8 bg-primary">
	<h1 class="text-center text-white fs-40 fw-medium">Story Builders</h1>
</div>

<div class="xl:container mx-auto px-4">
  <div class="pb-4 pt-0 lg:px-4" data-controller="stories">
    <div class="grid lg:grid-cols-3 grid-cols-1 large-gap mb-8">
      <div class="col-span-2">
        <div class="mb-5" id="storyDetails" data-story-id="<%= @story.id %>"></div>

        <%= render(partial: "story_builder_details_and_controls", locals: { story: @story }) %>
        
        <!--  Questions Start -->
        <%= render(partial: "questions", locals: { questions_count: @questions.count, question: @question }) %>
        <!--  Questions End -->

        <!-- Prompts section start -->
        <%= render("prompts") %>
        <!-- Prompts section end -->

        <%= render("story_builders") %>
      </div>
      <!-- col -->
      <div class="mt-5 lg:mt-0">
        <%= render("my_stories") %>
      </div>
    </div>
  </div>
</div>
