<div class="py-8 bg-primary"><h1 class="text-center text-white fs-40 fw-medium">Storybank</h1></div>

<div class="xl:container mx-auto pt-4 px-4">
  <div class="flex flex-wrap mb-8">
    <div class="w-full sm:w-1/2 md:w-1/2 lg:w-1/2 xl:w-1/2 mb-2">
      <div class="flex flex-wrap">
        <% @builder_types.each do |builder| %>
          <div class="story-type mx-2">
            <div class="flex items-center">
              <%= link_to builder.title, account_stories_path(builder_type: builder.title), class: "fs-15" %>
            </div>
          </div>
        <% end %>
      </div>  
    </div>
  </div>
  <div class="flex gap-8 flex-wrap items-center mb-2 mt-15">
    <div class="flex-grow">
      <input type="search" class="form-control bg-F5F5F5 border-0 rounded-full" placeholder="Search" />
    </div>
  </div>
  <div class="table-overflow">
    <table class="new-design-table">
      <thead>
        <tr>
          <th>Story Details</th>
          <th>Story Type</th>
          <th>Status</th>
          <th>Access</th>
          <th>Organization</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% if @stories.present? %>
          <% @stories.each do |story| %>
            <tr>
              <td>
              <p class="fs-15 font-bold">
                <%= story.title %>
              </p>
              </td>
              <td>
                <div class="flex items-center gap-2 small-screen">
                  <img src="/star.svg" alt="star">
                  <p class="fs-20"><%= story.story_builder.title %></p>
                </div>
              </td>
              <td>
                <div class="small-screen">
                <p class="fs-20"><%= story.status.to_s.capitalize %></p>
              </div>
              </td>
              <td>
                <% if story.creator_id == current_user.id %>
                  <div class="flex items-center w-full">
                    <label for="access<%= story.id %>" class="flex items-center cursor-pointer" data-controller="tooltip" data-tippy-content="Mark story as Private/Public">
                      <div class="relative" data-controller="stories">
                        <% if story.private_access %>
                          <input id="access<%= story.id %>" type="checkbox" class="sr-only"
                            data-id="<%= story.id %>"
                            checked
                            data-account-id="<%= current_account.id %>"
                            data-change-access-mode="on"
                            data-draft-mode="off"
                            data-action="change->stories#updateStoryAccessOrDraftMode">
                        <% else %>
                          <input id="access<%= story.id %>" type="checkbox" class="sr-only"
                            data-id="<%= story.id %>"
                            data-account-id="<%= current_account.id %>"
                            data-change-access-mode="on"
                            data-draft-mode="off"
                            data-action="change->stories#updateStoryAccessOrDraftMode">
                        <% end %>
                        <div class="w-10 h-4 line bg-gray-300 rounded-full shadow-inner"></div>
                        <div class="dot absolute w-6 h-6 bg-white rounded-full shadow -left-1 -top-1 transition"></div>
                      </div>
                      <div class="ml-3 fs-20" id="privateAccess<%= story.id %>"><%= story.private_access === true ? 'Private' : 'Public' %></div>
                    </label>
                  </div>
                <% else %>

                <% end %>
              </td>
              <td>
                <div class="small-screen">
                  <p class="fs-20"><%= current_account.name || "-" %></p>
                </div>
              </td>
              <td class="text-center !p-0">
                <div class="flex items-center gap-2 justify-center" >
                  <% if story.ai_generated_content.present? %>
                    <a href="<%= final_version_path(id: story, show_final: true) %>" class="font-bold fs-15">VIEW</a>
                  <% else %>
                    <%= link_to(edit_account_story_path(story, account_id: current_account.id), class: "font-bold fs-15") do %>
                      EDIT STORY
                    <% end %>
                  <% end %>
                </div>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="7" class="text-center">No stories found</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <% if @pagy.pages > 1 %>
    <div class="mt-6 text-right">
      <%== pagy_nav(@pagy) %>
    </div>
  <% end %>
</div>
