<%= form_for(story_builder, url: url) do |f| %>
  <%= f.label :title %>
  <%= f.text_field(:title) %>

  <%= collection_check_boxes(:builder, :q_ids, @questions, :id, :title) %>
  
  <!-- Navigation for questions -->
  <% if @pagy.pages > 1 %>
    <div class="my-6 text-center">
      <%== pagy_nav(@pagy) %>
    </div>
  <% end %>

  <%= f.submit("Save", class: "btn btn-primary") %>
<% end %>