<%= form_for(story_builder, url: url) do |f| %>
  <%= f.label("Name") %>
  <%= f.text_field(:title, required: true, class: "rounded-lg w-1/2") %>

  <label class="mt-4">Prompt to AI</label>
  <%= f.text_area(:admin_ai_prompt, class: "rounded-lg w-1/2",
    placeholder: "Instructions provided here will be served to finalize the story version. For example: Four delivery formats for your metaphor!", rows: 3) %>

  <h5 class="mt-4 mb-1">Existing Questions</h5>
  
  <% if @questions.present? %>
    <div class="my-2">
      <%= collection_check_boxes(:builder, :q_ids, @questions, :id, :title) do |b| %>
        <div class="mb-1 items-center flex">
          #<%= b.object.position %>.
          <div class="ml-2 mb-[4px]" data-controller="tooltip" data-tippy-content="Marking the checkbox will make question Active inside builder. Thus showing in story creation process.">
            <%= b.check_box(checked: @tracked_question_ids.include?(b.object.id)) %>
          </div>
          <!-- Use this column for showing position of the question -->
          <%= b.label class:'inline-block mb-0 text-base leading-none' %>
        </div>
      <% end %>
      <!-- Navigation for questions -->
      <div class="flex">
        <% if @pagy.pages > 1 %>
          <div class="-my-3 text-center">
            <%== pagy_nav(@pagy) %>
          </div>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="mb-2">No Questions present.</div>
  <% end %>

  <div>
    <%= f.submit("Add New Question", class: "btn btn-primary btn-small", name: "save_builder_and_add_question") %>
  </div>

  <%= f.submit("Save Builder", class: "btn btn-primary mt-5") %>
<% end %>
