<%= form_with(model: blog, url: url, local: true, class:'xl:w-3/4') do |f| %>
  <%= f.label(:title) %>
  <%= f.text_field(:title, required: true, class: "rounded-md") %>

  <%= f.label(:body, class:'mt-3') %>
  <%= f.rich_text_area(:body, required: true, class: "rounded-md") %>

  <%= f.label(:tag_list, "Tags (comma-separated)", class:'mt-3') %>
  <div data-controller="tags">
    <%= f.hidden_field(:tag_list, data: {tags_target: "tagsInputField"}) %>

    <%= select_tag 'tags[]', options_for_select(blog.tag_list, blog.tag_list), multiple: true, data: { tags_target: 'select' }, placeholder: 'Search or add new tags' %>
  </div>

  <!-- TODO: Use this object for accounts selection without #inspect -->
  <%= selectable_accounts.inspect %>

  <!-- TODO: Use this object to capture joined tags without #inspect -->
  <%= joined_tag_list.inspect %>

  <%= f.submit("Save Blog", class: "btn btn-primary mt-6 mb-4") %>
<% end %>
