<h1><%= @blog.title %></h1>

<p><strong>Body:</strong></p>
<%= @blog.body %>

<p>Tag List</p>
<%= @blog.tag_list %>

<p><strong>Published:</strong> <%= @blog.published ? 'Yes' : 'No' %></p>

<p>
  <%= link_to 'Edit', edit_admin_blog_path(@blog) %> |
  <%= link_to 'Back', admin_blogs_path %>
</p>
