<header class="main-content__header flex place-content-between justify-between items-center mb-4 px-4 shadow-md py-4">
  <h4><%= link_to @account.name, admin_teams_path(account_id: @account.id) %>: <%= @team.name %></h4>
  <%= link_to("Back to Teams", admin_teams_path(account_id: @account.id), class: 'btn btn-primary') %>
</header>
<div class="container mx-auto py-4 px-10">
  <h4 class="mt-8 mb-3 normal-case">Users in this Team</h4>
  <table class="border border-collapse w-full">
    <thead>
      <tr>
        <th class="w-1/3">First Name</th>
        <th class="w-1/3">Last Name</th>
        <th class="w-1/3">Email</th>
      </tr>
    </thead>
    <tbody>
    <% if @users.present? %>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.first_name %></td>
          <td><%= user.last_name %></td>
          <td><%= user.email %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="5" class="text-center">No Users found for team: <%= @team.name %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <% if @pagy.pages > 1 %>
    <div class="my-6 text-center">
      <%== pagy_nav(@pagy) %>
    </div>
  <% end %>
</div>




