<header class="main-content__header flex place-content-between flex justify-between items-center mb-4 px-4 shadow-md py-4">
  <h4>Show Team</h4>
  <%= link_to("Back to Teams", admin_teams_path(account_id: @account.id), class: 'btn btn-primary') %>
</header>
<div class="container mx-auto py-4">
  <table class="border">
    <tr>
      <th>Team Name</th>
      <td><%= @team.name %></td>
    </tr>
    <tr>
      <th>Organization Name</th>
      <td><%= @account.name %></td>
    </tr>
  </table>

  <table class="border border-collapse w-full">
    <thead>
      <tr>
        <th class="w-1/4">First Name</th>
        <th class="w-1/4">Last Name</th>
        <th class="w-1/4">Email</th>
        <th class="text-right w-1/4">Timezone</th>
      </tr>
    </thead>
    <tbody>
    <% if @users.present? %>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.first_name %></td>
          <td><%= user.last_name %></td>
          <td><%= user.email %></td>
          <td><%= user.time_zone %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="5" class="text-center">No Users found for team: <%= @team.name %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <% if @pagy.pages > 1 %>
    <div class="my-6 text-center">
      <%== pagy_nav(@pagy) %>
    </div>
  <% end %>
</div>




