<div class="flex flex-wrap my-4 lg:px-4">
  <div class="w-full mb-4 lg:w-1/4 lg:p-4">
    <%= render partial: "shared/account_navbar" %>
  </div>
  <div class="w-full lg:w-3/4 lg:p-4">
    <div class="mb-5">
      <%= render partial: "shared/topBar_nav" %>
    </div>
    <div class="p-4 bg-white border border-gray-200 rounded-lg lg:p-10">
        <div class="sm:flex items-center justify-between mb-3">
          <h1 class="flex-1 h3">All Users in <%= @account.name %></h1>
          <div>
            <%#= link_to("Back to Dashboard", user_root_path, class: "btn btn-primary") %>
          </div>
        </div>
        <table class="border border-collapse w-full">
          <thead>
            <tr>
              <th class="w-1/4">First Name</th>
              <th class="w-1/4">Last Name</th>
              <th class="w-1/4">Email</th>
              <th class="w-1/4">Team</th>
              <th class="text-right w-1/4">Status</th>
              <!-- <th>Actions</th> -->
            </tr>
          </thead>
        <tbody>
        <% if @account_users.present? %>
            <% @account_users.each do |account_user| %>
              <tr>
                <td><%= account_user.user.first_name %></td>
                <td><%= account_user.user.last_name %></td>
                <td><%= account_user.user.email %></td>
                <td>
                  <%= account_user.user.team.present? ? account_user.user.team.name : "---" %>
                </td>
                <td>
                  <span class="inline-flex items-center justify-center rounded-full bg-green-500 text-white p-2">
                    Active
                  </span>
                </td>
              </tr>
            <% end %>
          <% else %>
          <tr>
            <td colspan="5" class="text-center">No Users found. Only users that accepted invitation will appear here!</td>
          </tr>
          <% end %>
        </tbody>
      </table>
      
      <% if @pagy.pages > 1 %>
        <div class="my-6 text-center">
          <%== pagy_nav(@pagy) %>
        </div>
      <% end %>
    </div>
  </div>
</div>



  <%#= @account_users.count %>
  <!-- Run User.attribute_names inside rails c to get all attribute names -->
  <!-- Use required ones accordingly -->

