<div class="flex flex-wrap my-4 lg:px-4">
  <div class="w-full mb-4 lg:w-1/4 lg:p-4">
    <%= render partial: "shared/account_navbar" %>
  </div>
  <div class="w-full lg:w-3/4 lg:p-4">
    <div class="mb-5">
      <%= render partial: "shared/topBar_nav" %>
    </div>
    <div class="p-4 bg-white border border-gray-200 rounded-lg lg:p-10">
      <div class="sm:flex items-center justify-between mb-3">
        <h1 class="flex-1 h3">All Users in <%= @account.name %></h1>
        <div>
          <%#= link_to("Back to Dashboard", user_root_path, class: "btn btn-primary") %>
        </div>
      </div>
      <table class="border border-collapse w-full">
        <thead>
          <tr>
            <th class="w-1/4">First Name</th>
            <th class="w-1/4">Last Name</th>
            <th class="w-1/4">Email</th>
            <th class="w-1/4">Team</th>
            <th class="text-right w-1/4">Status</th>
            <!-- <th>Actions</th> -->
          </tr>
        </thead>
        <tbody>
          <% if @account_users.present? %>
            <% @account_users.each do |account_user| %>
              <tr>
                <td><%= account_user.user.first_name %></td>
                <td><%= account_user.user.last_name %></td>
                <td><%= account_user.user.email %></td>
                <td>
                  <div class="flex gap-2 justify-between">
                    <%= account_user.user.team.present? ? account_user.user.team.name : "---" %>

                    <!-- Modal to Change Team -->
                    <div data-controller="modal" data-action="keydown.esc->modal#close" tabindex="-1">
                      
                      <button class="btn btn-primary btn-small" data-action="click->modal#open:prevent" data-controller="tooltip" data-tippy-content="Change Team">
                        <i class="fa-solid fa-edit"></i>
                      </button>

                      <div class="hidden fixed inset-0 bg-gray-900 bg-opacity-80 overflow-y-auto flex items-center justify-center backdrop-blur-sm dark:bg-gray-800 dark:bg-opacity-80" data-modal-target="background" data-action="click-&gt;modal#closeBackground" data-transition-enter="transition ease-in-out duration-200" data-transition-enter-from="bg-opacity-0 backdrop-blur-none" data-transition-enter-to="bg-opacity-80 backdrop-blur-sm" data-transition-leave="transition-all ease-in-out duration-200" data-transition-leave-from="bg-opacity-80 backdrop-blur-sm" data-transition-leave-to="bg-opacity-0 backdrop-blur-none">
                        <div class="max-w-sm max-h-screen w-full relative" data-modal-target="container" data-transition-enter="transition ease-in-out duration-200" data-transition-enter-from="opacity-0" data-transition-enter-to="opacity-100" data-transition-leave="transition ease-in-out duration-200" data-transition-leave-from="opacity-100" data-transition-leave-to="opacity-0">
                          <div class="p-6 bg-white rounded shadow-lg dark:bg-gray-900 dark:text-gray-200">

                            <h2 class="text-lg mb-2">Change Team of <%= account_user.user.first_name %></h2>

                            <%#= form_for(@story, url:  do |f| %>
                              <select>
                                <option selected disabled>
                                  Select Team
                                </option>
                                <option>Team 1</option>
                                <option>Team 2</option>
                              </select>
                              <%#= f.hidden_field(:account_user.user.id, value: account_user.user.id) %>

                              <div class="flex justify-end items-center flex-wrap gap-2 mt-4">
                                <%#= f.submit("Proceed", class: "btn btn-white") %>
                                <button class="btn btn-white" data-action="click->modal#close:prevent">Cancel</button>
                              </div>
                            <%# end %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </td>

                <td>
                  <span class="inline-flex items-center justify-center rounded-full bg-green-500 text-white p-2">
                    Active
                  </span>
                </td>

              </tr>
            <% end %>
          <% else %>
          <tr>
            <td colspan="5" class="text-center">No Users found. Only users that accepted invitation will appear here!</td>
          </tr>
          <% end %>
        </tbody>
      </table>
      
      <% if @pagy.pages > 1 %>
        <div class="my-6 text-center">
          <%== pagy_nav(@pagy) %>
        </div>
      <% end %>
    </div>
  </div>
</div>

  <%#= @account_users.count %>
  <!-- Run User.attribute_names inside rails c to get all attribute names -->
  <!-- Use required ones accordingly -->

